<!DOCTYPE html>
<html>
<%- include("_partials/_head") %>
<body>
  <main>  
    <!-- Main navigation, list items, circle links -->
    <!-- Main navigation -->
    <nav id="mainNav" class="nav">
      <ul class="nav-list">
        <!-- List item navigation for each section, add another section to the array so that it addas a new circle link -->
        <% sections.forEach(function(section) { %>
          <li class="nav-item">
            <a href="#<%= section.id %>" class="nav-item-link">
              <div class="nav-item-circle"></div>
              <span><%= section.title %></span>
            </a>
          </li>
          <% }); %>
        </ul>
      </nav>
      
      <% sections.forEach(function(section) { %>
        <section id="<%= section.id %>" class="<%= section.classes %>" style="background-image: url('../images/<%= section.backgroundImage %>');">
          <% if (Array.isArray(section.partials)) { %>
            <% section.partials.forEach(function(partial) { %>
              <%- include(partial) %>
            <% }); %>
          <% } else { %>
            <%- include(section.partials) %>
          <% } %>
        </section>
      <% }); %>
  </main>
  <%- include("_partials/_footer") %>
</body>
</html>
